body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #2F4454;
}

.header{
    min-height: 100vh;
    width: 100%;
}

.navbar {
    background-color: #2E151B;
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    align-items: right;
    border-radius: 0 0 25px 25px;
    height: 50px;
}

.navbar .logo {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.navbar .logo img {
    margin-right: 10px;
}

.navbar nav{
    flex: 1;
    text-align: right;
}

.navbar nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar a:hover::after{
    width: 100%;
}

.dashboard {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.filters {
    background-color: #34495E;
    padding: 20px;
    flex-basis: 20%;
}

.custom-select {
    background-color: #2E151B;
    border: 1px solid #2E151B;
    padding: 8px;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: white;
}

.custom-select option {
    text-align: left;
    
}


.dashboard-content {
    flex-basis: 80%;
    padding: 20px;
    background-color: #2E4053;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stat {
    background-color: #16A085;
    padding: 20px;
    flex-basis: 23%;
    text-align: center;
    margin-bottom: 10px;
    box-sizing:border-box;
}

.stat h3 {
    margin: 0 0 10px;
}

.charts {
    background-color: #1b2831;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 100%;
}

.vs-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.vs-card {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    height: auto;
    text-align: center;
    background-color: #1b2831;
    overflow: hidden;
    margin-bottom: 20px;
}

.vs-card h4 {
    color: #ffffff;
    background-color: #2E151B;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

.chart {
    height: 250px;
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.chart4 {
    height: 230px;
    width: 100%;
    max-width: 320px;
    margin: auto;
}

#chart4 {
    margin: auto;
}

.chart1 {
    height: 220px;
    width: 93%;
    margin: auto;
    overflow: auto;
}

.table-container {
    width: 100%;
    overflow: auto;
}

.team-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.75rem;
}

.team-table th,
.team-table td {
    text-align: left;
}

.team-table th {
    background-color: #6a303d;
    color: #fff;
}

.team-table tbody tr:nth-child(even) {
    background-color: #2E151B;
    color: #fff;
}

.team-table tbody tr:nth-child(odd) {
    background-color: #3e2929;
    color: #fff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2E151B;
    text-align: center;
    border-radius: 25px 25px 0 0;
    padding-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .navbar .logo {
        margin-left: 20px;
    }

    .navbar nav {
        text-align: left;
        margin-left: 20px;
    }

    .navbar nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .dashboard {
        flex-direction: column;
    }

    .filters {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .dashboard-content {
        flex-basis: 100%;
    }

    .vs-cards {
        flex-direction: column;
        gap: 20px;
    }

    .stat {
        flex-basis: 100%;
    }
}
