body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #2F4454;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("Banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    background-color: #2E151B;
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    align-items: right;
    border-radius: 0 0 25px 25px;
    height: 50px;
}

.navbar .logo {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.navbar .logo img {
    margin-right: 10px;
}

.navbar nav{
    flex: 1;
    text-align: right;
}

.navbar nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar a:hover::after{
    width: 100%;
}

.dashboard-content {
    flex-basis: 80%;
    padding: 20px;
    background-color: #2E4053;
    height: 100%;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-content {
    flex-basis: 50%;
    padding: 20px;
}

.header-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-image img {
    max-width: 100%;
    height: 420px;
}

.header-content h1 {
    font-size: 80px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #2E151B;
    text-align: center;
    border-radius: 25px 25px 0 0;
}

.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures wrapping */
}

.stat {
    background-color: #16A085;
    padding: 20px;
    flex-basis: 23%;
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.stat h3 {
    margin: 0 0 10px;
}

.charts {
    background-color: #1b2831;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 100%;
}

.vs-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.vs-card {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    height: auto;
    text-align: center;
    background-color: #1b2831;
    overflow: hidden;
    margin-bottom: 20px;
}

.vs-card h4 {
    color: #ffffff;
    background-color: #656796;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

.chart {
    height: 250px;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.chart4 {
    height: 230px;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.chart1 {
    height: 220px;
    width: 93%;
    margin: 0 auto;
    overflow: auto;
}

.table-container {
    width: 100%;
    overflow: auto;
}

.team-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.75rem;
}

.team-table th,
.team-table td {
    text-align: left;
}

.team-table th {
    background-color: #A236D0;
    color: #fff;
}

.team-table tbody tr:nth-child(even) {
    background-color: #1E202F;
    color: #fff;
}

.team-table tbody tr:nth-child(odd) {
    background-color: #292A3E;
    color: #fff;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .header-content {
        width: 80%;
        padding: 20px;
    }

    .header-content h1 {
        font-size: 50px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .navbar .logo {
        margin-left: 20px;
    }

    .navbar nav {
        text-align: left;
        margin-left: 20px;
    }

    .navbar nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .stat {
        flex-basis: 48%;
    }

    .header-content-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-content {
        order: 2; /* Mengubah urutan konten header menjadi kedua */
    }

    .header-image {
        order: 1; /* Mengubah urutan gambar header menjadi pertama */
    }
}



